<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <h3>Here are the programming languages that Ben has experience in:</h3>
    <ul>
        <% skills.forEach(function(skill) { %>
            <li>
                <a href="/skills/<%= skill.skillName %>"><%= skill.skillName %></a>
                | Experience Level:
                <%= skill.experience %>
                | Status of Knowledge:
                <%= skill.status %>
            </li>
        <% }); %>
    </ul>
    <br>
    <a href="/skills/newSkill">Include a new skill.</a>
</body>

</html>