<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <h3>Add a new skill below:</h3>

    <form action="/skills" method="POST" autocomplete="off">
        <p>Enter name of skill: </p>
        <input type="text" name="skillName">
        <br>
        <p>Enter experience level: </p>
        <input type="text" name="experience">
        <br>
        <p>Enter status of your knowledge/experience: </p>
        <input type="text" name="status">
        <br>
        <br>
        <button type="submit">Save Skill</button>
    </form>
    
</body>

</html>